body {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

/* base styles */

input {
    height: 50px;
    width: 300px;
    font-size: 2em;
    border: 2px solid black;
    padding: 5px;
}

/*******/

#main {
    margin: 20px;
}

#left {
    float: left;
    width: 40%;
}

#right {
    float: left;
    width: 50%;
}

#clock {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 3em;
}

#board {
    padding-left:100px;
    width:500px;
    height:500px;
}

.square {
    width:74px;
    height:74px;
    margin: 4px;
    float:left;
    text-align: center;
    vertical-align: middle;
    font-size: 65px;
}

.square.last_in_path {
    color: #ff0000;
}

.square.in_path {
    color: #990000;
}

#login {
    margin: 100px auto;
    text-align: center;
}

#login .error {
    color: red;
}

#lobby {
    margin: 100px auto;
    text-align: center;
}

#postgame {
    height: 100px;
    text-align: center;
}

#scratchpad {
    height: 100px;
}

#post input {
    width: 70%;
}

#scratchpad input {
    width: 70%;
}

#scratchpad h1 {
    float: left;
}

#scores {
    float: left;
    width: 100%;
    padding-left: 30px;
}

#scores .player {
    float: left;
    width: 100%;
}

.playerLobby img {
    vertical-align: middle;
}

#scores .header {
    font-size: 1.25em;
}

#scores .unnamed {
    color: #444;
    font-style: italic;
}

#scores .winner {
    background-color: yellow;
}

#scores .winner_text {
    float: right;
}

#scores .word {
    float: left;
    font-size: 1.25em;
    padding: 0.25em;
    margin: 0.5em;
    border: 1px solid #030;
}

#scores .word.good {
    background-color: #0a0;
}

#scores .word.bad {
    text-decoration: line-through;
}

#scores .word span.score {
    width: 1em;
}

#scores .word.bad span.score {
    background-image: 'circle-ball-dark-antialiased.gif';
}
